Package: deepin-prime
Version: 1.0.1
Architecture: amd64
Maintainer: nizhen <nizhen@uniontech.com>
Installed-Size: 48
Section: admin
Priority: optional
Multi-Arch: foreign
Description: Tools to enable NVIDIA's Prime
 This is a tool which will enable NVIDIA's
 Prime on MUXless systems.
